<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.restart.banzenty">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION  " />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        tools:node="remove" />

    <application
        android:name="com.restart.banzenty.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        tools:replace="android:allowBackup"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity
            android:name="com.restart.banzenty.ui.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.restart.banzenty.ui.main.RedeemCodeActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.restart.banzenty.ui.main.ProfileActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.restart.banzenty.ui.main.LoyaltyProgramActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.restart.banzenty.ui.main.NotificationsActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.restart.banzenty.ui.auth.RequestResetPasswordActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.restart.banzenty.ui.main.ChangeLanguageActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.restart.banzenty.ui.main.ChangePasswordActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.restart.banzenty.ui.main.SettingsActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.restart.banzenty.ui.main.SubscriptionOptionsActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.restart.banzenty.ui.main.SubscriptionsActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.restart.banzenty.ui.main.ContactUsActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.restart.banzenty.ui.auth.TermsConditionsActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.restart.banzenty.ui.station.StationDetailsActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.restart.banzenty.ui.station.StationFilterActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.restart.banzenty.ui.station.StationFinderActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.restart.banzenty.ui.auth.VerificationActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.restart.banzenty.ui.auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.restart.banzenty.ui.auth.LoginActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.restart.banzenty.ui.intro.IntroActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity"
            android:exported="true" />
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyFloatingActivity"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider{2057168304482293}"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="true" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_app" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/flamingo" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.restart.banzenty.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <service
            android:name="com.restart.banzenty.network.CustomFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>